<form (ngSubmit)="onSignIn(f)" #f="ngForm">
  <div class="form-group">
    <label for="username">email</label>
    <input type="text" id="email" name="email" ngModel required class="form-control">
    <label for="username">username</label>
    <input type="text" id="username" name="username" ngModel required class="form-control">
    <label for="password">password</label>
    <input type="password" id="password" name="password" ngModel required class="form-control">

  </div>
  <button [disabled]="!f.form.valid" class="btn btn-primary" type="submit">Sign In</button>
</form>
