.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

#comments {
    padding: 20px;
}

#default {
    text-align: center;
}

th {
    text-align: center;
}

td {
    text-align: center;
}