<div class="box-shadow">
    <div id="comments">
        <!-- table created if there is anything in the response (user has made comments)-->
        <table *ngIf="response !== null" class="table">
            <thead>
                <th scope="col">Event</th>
                <th scope="col">Comment</th>
                <th scope="col">Date</th>
            </thead>
            <tbody>
                <!-- creates a new row for each user comment, 
                using the name of the event, the comment, and the event date-->
                <tr *ngFor="let comment of commentsList" id="commentsList">
                    <td> {{comment.event.event_id}} </td>
                    <td> {{comment.data}} </td>
                    <td> {{comment.created}} </td>
                </tr>
                <tr id="default" [hidden] = "commentsList">
                    <td></td>
                    <td>No comments yet.</td>
                    <td></td>
                </tr>
            </tbody>

        </table>
    </div>
</div>