<h1 class="lead centerize pagetitle">{{event.name}} - {{event.date | date}}</h1>
<div id="maindiv">
  <br>
    <h4 class="centerize"></h4>
    <div class="row">
      <div class="boxspace" id="eventdiv">
          <h5 class="centerize">{{event.location}} Tampa, FL 33613</h5>
          <br>
        <img src={{event.photo}} class="eventpic">
        <br> 
        <p class="lead centerize">{{event.description}}</p>
        
        
      </div>
      &nbsp; &nbsp;
    <div class="boxspace" id="userdiv">
        <h2 class="centerize">Attendees</h2>
        <div [hidden] = "!attendingList.length == 0">
            <br>
            <p class="centerize">No attendees yet.  Click "Register" below to sign up!</p>
            <br>
        </div>
        <br>

  </div>
  <button class="btn btn-success button-center">Register</button>
  <br>
  </div>
  <div id="maincommentdiv">
      <h4 class="centerize">Comments</h4>

      <!-- comment outline-->
      <div *ngFor="let comment of commentsList" class="row commentdiv col-12">
        <div id="UserInfo" class="col-2">
           <img src={{comment.picture}} class="commentpic centerize"> 
        </div>
        <div id="comment-body" class="col-10">
          <em>"{{comment.comment.data}}"</em>
          <span id="comment-metadata">
            <p>User: {{comment.username}} &nbsp; &nbsp; {{comment.created | date}}</p>
          </span>
        </div>
      </div>
      <div [hidden] = "!commentsList.length == 0">
        <br>
        <p class="centerize">No comments yet.  So why not post the first comment?</p>
        <br>
      </div>

      <button [hidden]="toggle" (click)="ontoggle()" class="comment-button-center btn btn-outline-success">Post a Comment</button>
      
      <form [hidden]="!toggle" (ngSubmit)="onCommentCreated(commentForm)" #commentForm="ngForm">
        <div class="row comment-button">
        <input type="text" name="data" class="col-9" [(ngModel)] = "data"> 
        &nbsp;
        <input type="submit" class="btn btn-outline-success col-2" value="Submit" click="ontoggle()">
      </div>
      </form>

  </div>

</div>