.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

#events {
    padding: 20px;
}

.eventFromList {
    display: inline;
    margin: 10px 20px 10px 20px;
}

#default {
    text-align: center;
    padding: 20px;
}

.card {
    margin: 25px;
    width: 17rem;
}

.card-padding {
    padding: 20px;
}
