<!-- created a container to hold all event cards-->
<div id="cardContainer">
    <div class="row">
  
      <!-- col-sm3 specifies 3 columns in the container -->
      <div *ngFor="let event of eventList2" class="card col-sm3">
        <img class="card-img-top" src={{event.photo_url}} alt="Image">
        <div class="card-body">
          <h5 class="card-title">{{event.event_name}}</h5>
          <p class="card-text">{{event.event_description}}</p>
          <p class="card-text">Location: {{event.event_location}} </p>
          <p class="card-text">Date: {{event.event_date}} </p>
          <!-- href TBD for now --> 
        </div>
        <a href="#" class="btn btn-success button-center">Register</a>
      </div>
    </div>
</div>