#cardContainer {
    width: 95%;
    margin: auto auto auto;
}

.card {
    margin: 25px;
    width: 15rem;
}

.card-padding {
    padding: 20px;
}

.button-center {
    float:left;
    position:bottom;
    width: 100%;
}

a{
    text-decoration: none;
    
}

.centerize {
    text-align: center;
    margin: auto;
}

